<div class="container-fluid img-container">
  <div class="row">
    <div class="d-flex align-items-end justify-content-end text-right w-100 h-100">
      <div class="caption">


          

          <%= image_tag "Logowhite-01.png", class: "caption-img-logo"  %>

          <h5 class="p-2" style="">Build Tomorrow Today</h5>

                  <p>
                    Townhouse IG wants to help you secure </br> a better future for you and your family.
                  </p>
      </div>

    </div>
  </div>
</div>




<%= render 'shared/navbar' %>



<main class="container-fluid drop-shadow p-5 " >
  <div class="row">
    <div class="col-xs-2 col-md-2 col-lg-2">

    </div>
    <div class="col align-self-center">
      <h1 class="title">
        TownHouse Investment Group
      </h1>
      <p class="content p-2">
        With average returns of <span>12.5</span>-percent—Townhouse IG helps lay the foundation for a bright
        future for you and your family. Invest with us and break into real estate the simple way: no asterisks and
        no fine print. So, don’t waste another day waiting for the right opportunity to come. It’s here—and its
        name is <span>Townhouse IG.</span>
      </p>
      <button class="btn btn-info m-1">More about Townhouse IG<i class="fas fa-chevron-right"></i></button>

        <button class="btn btn-info m-1" data-toggle="dropdown">Proyects</button>


    </div>
    <div class="col-xs-2 col-md-2 col-lg-2">

    </div>
  </div>
</main>

<div class="container-fluid pd-100 metal-bkg home-projects fixed-bkg" ')">
  <div class="row ">
    <div class="col-md-12 text-center">

      <%= render 'shared/projectstitle' %>

    </div>



  </div>

    <div class="row d-flex justify-content-center p-3 mt-5 " >


      <% @projects.each do |project| %>
        <div class="card p-2 m-1" style="width: 18rem;">
            <div class="card-img-box" style="background-image:url('<%= project.photos.first.image %>')">

            </div>
           <!--<%= image_tag project.photos.first.image, class: 'card-img-top img-fluid imagen' %>-->
            <div class="card-body d-flex flex-column">

              <div class="card-logo-box" style="background-image:url('<%= project.logo %>')" >
                <!--<%= image_tag project.logo, class: 'figure-img img-fluid', style: 'width: 8rem;' %>-->
              </div>
              <h5 class="card-title title-h "><%= project.name %></h5>


              <%= link_to 'See project', project_path(project), data: { turbolinks: false }, class: 'btn btn-info btn-sm mt-auto' %>


            </div>
        </div>
      <% end %>

    </div>

    <div class="row">

      <div class="offset-md-4 col-md-4">
        <%= link_to 'ALL PROJECTS', pages_projects_path, class: 'title btn btn-outline-info mt-auto d-block' %>
      </div>
    </div>





</div>

<div class="container-fuid pt-5 pb-5 section-3">
  <div class="row">



    <div class="offset-md-3 col-md-6 text-center section3">

      <h3 class="title-h">
        LET’S TALK NUMBERS:
      </h3>
      <p class="content p-2">
        There is a principle in finance called the rule of 72. It’s a measure of how quickly your money
        doubles at a certain rate of return. <br>With us, that averages out to just six years. Here are some important
        things you should know if you’re ready to invest with us:
      </p>
      <ul>
        <li>Our minimum investment amount is 50,000 USD.</li>
        <li>Average returns range between 11 and 14 percent</li>
        <li>Fees total x per one round of investment</li>
      </ul>
    </div>

  </div>
</div>

<div class="container-fluid ">
  <div class="row direct-row p-5" >
    <div class="col-lg-9 p-2 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.0876785991436!2d-118.39388834953566!3d34.06726658050664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b955e6223681%3A0xf6a6e158e0498a6c!2s9171+Wilshire+Blvd+%23500%2C+Beverly+Hills%2C+CA+90210%2C+EE.+UU.!5e0!3m2!1ses-419!2scl!4v1522956225227" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 p-2">

              <div class="card p-2 m-1" style="width: 100%;">
                  <div class="card-img-box" style="background-image:url('<%= asset_path 'blvd.jpg' %>')">

                  </div>

                  <div class="card-body d-flex flex-column">

                    <h5 class="card-title title-h ">Address:</h5>
                    <p>9171 Wilshire Blvd Suite 500 <br>
                    Beverly Hills,CA 90210.<br></p>

                  </div>
              </div>
    </div>

  </div>
</div>



<!--<div class="container-fluid counts align-middle">
  <div class="row paralax">
    <div class="col-md-4">
      <p class="count ">55</p>
    </div>
    <div class="col-md-4">
      <p class="count ">55</p>
    </div>
    <div class="col-md-4">
      <p class="count">55</p>
    </div>
  </div>
</div>-->
