
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://www.psdgraphics.com/file/abstract-glass-building.jpg" alt="First slide">
      <div class="">
        <%= image_tag 'Logowhite-01.png', class: 'carousel-caption d-none d-md-block' %>
      <h5>...</h5>
      <p>...</p>
    </div>
    </div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<%= render 'shared/navbar' %>

<main class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-md-2 col-lg-2">

    </div>
    <div class="col align-self-center">
      <h1 class="title">
        TownHouse Investment Group
      </h1>
      <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ea tenetur possimus nisi veniam pariatur explicabo. Eos, sed consectetur maxime eveniet accusamus nesciunt unde ipsa doloremque quibusdam quasi ducimus debitis.
      </p>
      <button class="btn btn-info">More about Townhouse IG<i class="fas fa-chevron-right"></i></button>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2">

    </div>
  </div>
</main>

<div class="container mr-top mr-bot pd-100 ">
  <div class="row ">
    <div class="col-md-12 text-center">
      <h3 class="title-h ">Projects</h3>

    </div>
    <div class="col-md-4 gap" >

      <a href="">
        <figure class="home-projects">
          <%= image_tag 'acacios.jpg', class: 'img-fluid' %>
        </figure>
      </a>

      <div class="link">
         <p class="title">
            Townhouse Projects
        </p>

        <a href="" class="more">Ver mas</a>
      </div>

    </div>

    <div class="col-md-4 gap " >
      <a href="">
        <figure class="home-projects">
          <%= image_tag 'robles.jpg', class: 'img-fluid' %>
        </figure>
      </a>
      <div class="link">
         <p class="title">
            Townhouse Los Robles
        </p>

        <a href="" class="more">Ver m치s</a>
      </div>
    </div>

    <div class="col-md-4 gap" >
      <a href="">
        <figure class="home-projects">
          <%= image_tag 'pintor.jpg', class: 'img-fluid' %>
        </figure>
      </a>

      <div class="link">
         <p class="title">
            Townhouse Los Robles
        </p>

        <a href="" class="more">Ver m치s</a>
      </div>
    </div>

    <div class="col-md-6">
       <a href="">
        <figure class="home-projects">
          <img class="img-fluid" src="https://na.rdcpix.com/90885237/8ecb8b5c10a19ccbe1daba7bc38ec77cw-c303855xd-w685_h860_q80.jpg" alt="">
        </figure>
      </a>

      <div class="link">
         <p class="title">
            Townhouse Los Robles
        </p>

        <a href="" class="more">Ver m치s</a>
      </div>
    </div>

    <div class="col-md-6">
       <a href="">
        <figure class="home-projects">
          <img class="img-fluid" src="https://na.rdcpix.com/90885237/8ecb8b5c10a19ccbe1daba7bc38ec77cw-c303855xd-w685_h860_q80.jpg" alt="">
        </figure>
      </a>

      <div class="link">
         <p class="title">
            Townhouse Los Robles
        </p>

        <a href="" class="more">Ver m치s</a>
      </div>


    </div>

  </div>
</div>

<div class="container-fluid counts align-middle">
  <div class="row paralax">
    <div class="col-md-4">
      <p class="count ">55</p>
    </div>
    <div class="col-md-4">
      <p class="count ">55</p>
    </div>
    <div class="col-md-4">
      <p class="count">55</p>
    </div>
  </div>
</div>
