<%= render 'shared/navbar' %>
<div class="container-fluid mr-top">
  <div class="row">
    <div class="col s2 text-center">
      <h4 class="title-h ">Projects</h4>
    </div>
  </div>

  <div class="row mr-top underline alice">



    <div class="col-md-6">
      
       <figure class="figure">
          <%= image_tag 'pintor.jpg', class: 'figure-img img-fluid imagen' %>
        </figure>

    </div>

    <div class="col-md-6  ">

      
      <figure class="figure">
          <%= image_tag 'acacioslogo.jpg', class: 'figure-img img-fluid', style: 'width: 15rem;' %>
        </figure>
        <p class="desc-breve">6 casas; 3 pisos; 3 y 4 dormitorios; 3 baños; estar/ home office; patio y terraza panorámica. </p>
      
      <button class="btn btn-info">See More<i class="fas fa-chevron-right"></i></button>
    </div>
  </div>


  <div class="row mr-top underline alice">



    

    <div class="col-md-6  ">

      
      <figure class="figure">
          <%= image_tag 'acacioslogo.jpg', class: 'figure-img img-fluid', style: 'width: 15rem;' %>
        </figure>
        <p class="desc-breve">6 casas; 3 pisos; 3 y 4 dormitorios; 3 baños; estar/ home office; patio y terraza panorámica. </p>
      
      <button class="btn btn-info">See More<i class="fas fa-chevron-right"></i></button>
    </div>

    <div class="col-md-6">
      
       <figure class="figure">
          <%= image_tag 'pintor.jpg', class: 'figure-img img-fluid imagen' %>
        </figure>

    </div>
  </div>

  <div class="row mr-top underline alice">



    <div class="col-md-6">
      
       <figure class="figure">
          <%= image_tag 'pintor.jpg', class: 'figure-img img-fluid imagen' %>
        </figure>

    </div>

    <div class="col-md-6  ">

      
      <figure class="figure">
          <%= image_tag 'acacioslogo.jpg', class: 'figure-img img-fluid', style: 'width: 15rem;' %>
        </figure>
        <p class="desc-breve">6 casas; 3 pisos; 3 y 4 dormitorios; 3 baños; estar/ home office; patio y terraza panorámica. </p>
      
      <button class="btn btn-info">See More<i class="fas fa-chevron-right"></i></button>
    </div>
  </div>


  


  
  
