<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>images of the project</p>

<%= form_with(model: [@project, Photo.new], local: true) do |f| %>
  <%= f.text_area :image %>
  <%= f.submit :añadir_foto %>
<% end %>

<% @project.photos.each do |photo| %>
  <%= image_tag photo.image %>
  <%= link_to 'x', project_photo_path(@project,photo), method: :delete %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', admin_path %>
