<%= render 'shared/navbar' %>
<div class="container-fluid show-body">
  <div class="row">

    <div class="col-md-2">
      <h2>Widget otros proyectos</h2>
    </div>

    <div class="col-md-7 show-content" >

      <p class="title-h d-inline-block">

        <%= @project.name %>
      </p>
      <figure class="figure text-center">
          <%= image_tag @project.logo, class: 'figure-img img-fluid', style: 'width: 10rem;' %>
      </figure>
      <!-- GALERIA DE PRODUCTOS -->
      <div class="sp-loading"><%= image_tag 'sp-loading.gif' %><br>Cargando imagenes</div>
      <div class="sp-wrap">
        <% @project.photos.each do |photo| %>
          <a href="<%= photo.image %>"><%= image_tag photo.image %></a>
        <% end %>
      </div>
      <!-- FIN GALERIA DE PRODUCTOS -->

      <p class="content">

        <%= @project.description %>
      </p>



    </div>

    <div class="col-md-3">
      <h2>Formulario de contacto</h2>
    </div>


  </div>


</div>

<%= render 'shared/footer' %>

	<script type="text/javascript">

    $(document).on('turbolinks:load', function() {
      $(window).load( function() {
          $('.sp-wrap').smoothproducts();
      });
    });
</script>
