<%= render 'shared/navbar' %>
<div class="container-fluid show-body">
  <div class="row">

    <div class="col-md-2">
      <figure class="figure text-right">
          <%= image_tag @project.logo, class: 'figure-img img-fluid', style: 'width: 10rem;' %>
      </figure>
      <%= render 'shared/widgetprojects' %>
      
      
      
    </div>

    <div class="col-md-7 show-content" >
      
     
        
      
      <p class="title-h d-inline-block">

        <%= @project.name %>
      </p>
      

      <!-- GALERIA DE PRODUCTOS -->
      <div class="sp-loading"><%= image_tag 'sp-loading.gif' %><br>Cargando imagenes</div>
      <div class="sp-wrap">
         <% if @project.sold_out %>
          <div class="show-ribbon-box d-flex align-items-center">
            <div class="sold-out-show ">
             <p>
               SOLD OUT
             </p>
                SOLD OUT
              
              
            </div>
            
          </div>
       
        <% end %>
        <% @project.photos.each do |photo| %>

          <a href="<%= photo.image %>"><%= image_tag photo.image %></a>
        <% end %>
      </div>
      <!-- FIN GALERIA DE PRODUCTOS -->

      <p class="content">

        <%= @project.description %>
      </p>



    </div>

    <div class="col-md-3">
      <h2>Formulario de contacto</h2>
    </div>


  </div>


</div>

<%= render 'shared/footer' %>

	<script type="text/javascript">

    $(document).on('turbolinks:load', function() {
      $(window).load( function() {
          $('.sp-wrap').smoothproducts();
      });
    });
</script>
